<footer class="w3-dark-gray">
  <div class="content-wrapper">

      <div class="w3-container">
        <div class="w3-third">
          <div class="w3-container left">
              <h4>Partneri:</h4>
              <br />
              <a href="http://www.katolis.lv/" target="__blank">katolis.lv</a>
              <br />
              <a href="http://www.radiolg.lv/" target="__blank">Latgales Radio</a>
              <br/>
              <a href="http://www.draudzedraudzei.lv/" target="__blank">draudzei draudzei</a>
              <br />
              <a href="http://katolis.mozello.lv/" target="__blank">Līksnas Romas katoļu draudze</a>
          </div>
        </div>

        <div class="w3-third">
          <div class="w3-container center">
              <h4>Partneri:</h4>
              <br />
              <a href="http://www.katolis.lv/" target="__blank">katolis.lv</a>
              <br />
              <a href="http://www.radiolg.lv/" target="__blank">Latgales Radio</a>
              <br/>
              <a href="http://www.draudzedraudzei.lv/" target="__blank">draudzei draudzei</a>
              <br />
              <a href="http://katolis.mozello.lv/" target="__blank">Līksnas Romas katoļu draudze</a>
          </div>
        </div>

          <div class="w3-third">
            <div class="w3-container right">
                <h4>Partneri:</h4>
                <br />
                <a href="http://www.katolis.lv/" target="__blank">katolis.lv</a>
                <br />
                <a href="http://www.radiolg.lv/" target="__blank">Latgales Radio</a>
                <br/>
                <a href="http://www.draudzedraudzei.lv/" target="__blank">draudzei draudzei</a>
                <br />
                <a href="http://katolis.mozello.lv/" target="__blank">Līksnas Romas katoļu draudze</a>
            </div>
          </div>

      </div>

      <div class="w3-container w3-padding-16 center copy">
        <div>
            Copyright &copy; {{ getCopyrightYear() }}
        </div>
        <div>
          All rights reserved to AngelusDomini
        </div>
      </div>

  </div>
</footer>
