$color-dark-bg: #272727;
$color-box-shadow-bottom: #818181;
$color-active-on-dark: #FC8C30;
$color-icon-on-dark: #D1D1D1;
$color-font-on-dark: #fff;
$color-font-primary: rgb(71, 71, 71);
$color-separator-on-dark: #fff;